.App {
  text-align: center;
}
.Welcome {
  text-align: center;
}

#main-nav {
  background-color: #110a40;
}

.nav-link {
  color: #ffffff;
}

.Searchbar {
  text-align: center;
}

.Description {
  text-align: center;
}
.card-img-top {
  height: 200px;
  width: 200px;
}
.card-img-top2 {
  height: 200px;
  width: 200px;
  position: right;
}
.card {
  width: 18rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
